

<%- include('header',title)%>

    <p class="my-2"><%=message%></p>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Mail Adress</th>
            </tr>
        </thead>
        <tbody>
            <% for (var item of db){ %>
                <tr>
                    <td><%=item.name%></td>
                    <td><%=item.mail%></td>
                </tr>
            <%  }%>
        </tbody>
    </table>
   
<%- include('footer')%>